body{background-color: darkgreen; color: greenyellow;}
h1{color:springgreen; background-color: midnightblue;  font-weight: bold;   font-style: italic;}
table,td{border: 5px solid; border-color: orangered; border-radius: 5px;}
li{font-style: italic; font-weight: bold;}